<?xml version="1.0"?>

<config>
    <modules>
        <Legendmc_Custom>
            <version>1.0.0</version>
        </Legendmc_Custom>
    </modules>

    <global>
        <helpers>
            <legendmc_custom>
                <class>Legendmc_Custom_Helper</class>
            </legendmc_custom>
        </helpers>
    </global>

</config>